<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EasyMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasyMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EasyMonitor.Properties.Settings.DataConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\x86\Debug\Data.mdb"
            providerName="System.Data.OleDb" />
        <add name="EasyMonitor.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\bin\x86\Release\Database.sdf;Password=easymonitor"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <applicationSettings>
        <EasyMonitor.Properties.Settings>
            <setting name="EasyMonitor_DataIntface_Service" serializeAs="String">
                <value>http://14.23.92.147:9000/Service.asmx</value>
            </setting>
            <setting name="EasyMonitor_RemoteDataExchange" serializeAs="String">
                <value>http://14.23.92.147:9005/Service/DataExchangeService.asmx</value>
            </setting>
            <setting name="EasyMonitor_RemoteDataExchange_DataExchangeService"
                serializeAs="String">
                <value>http://14.23.92.147:9005/Service/DataExchangeService.asmx</value>
            </setting>
        </EasyMonitor.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <EasyMonitor.Properties.Settings>
            <setting name="JsonBaseURL" serializeAs="String">
                <value>http://14.23.92.147:19002/JsonService.asmx/</value>
            </setting>
            <setting name="TMS_appkey" serializeAs="String">
                <value>4dfe14ad644d29eb76868d6ed61cb17f</value>
            </setting>
            <setting name="TMS_appsecret" serializeAs="String">
                <value>c55478edc2eea830ccd73cfbc3839e19</value>
            </setting>
            <setting name="TMS_InterfaceURL" serializeAs="String">
                <value>http://60.205.107.217:8087/v1.0.0/json/deviceInterface</value>
            </setting>
            <setting name="TMS_UploadTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TMS_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TMS_RealTimeURL" serializeAs="String">
                <value>/uploadData</value>
            </setting>
            <setting name="TMS_AlarmURL" serializeAs="String">
                <value>/tms/warehouse/alarmData/v1.0?</value>
            </setting>
            <setting name="TMS_ErrorOtMsg" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="TMS_OutputLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InterfaceType" serializeAs="String">
                <value>2</value>
            </setting>
        </EasyMonitor.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>
